
@{
	ViewData["Title"]="Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Xin chào admin</h1>
<div id="main" style="height:500px"></div>
<div id="id" style="height:500px"></div>

@section Scripts{
	<script src="~/layoutadmin/assets/js/echarts.min.js"></script>
	<script src="~/layoutadmin/assets/components/dashboard.js"></script>
	<script src="~/layoutadmin/assets/components/dashboard1.js"></script>
}
	